In [ ]:
a = 10
print(id(a))
b = 10
print(id(b))

137710022197776
137710022197776

In [ ]:
a = 0.5
print(type(a))

<class 'float'>

In [4]:
list1=["ashish", "rahul", "sandip", "prashant"]
print("ashish" in list1)
print("sonu" in list1)
print("sonu" not in list1)

True
False
True

In [5]:
x="hello learning Python is very easy!"
print('h' in x)
print('d' in x)
print('d' not in x)
print( 'Python' in x)

True
False
True
True

In [6]:
a=2
b=3
res=complex(a, b)
print(res)
print(complex(3))
print (complex(True))
print(complex(False))
print (complex(True, True))

(2+3j)
(3+0j)
(1+0j)
0j
(1+1j)

In [7]:
print(bool (True))
print(bool(False))
print(bool ("5"))
print (bool ("'"))

True
False
True
True

In [8]:
print(float (3.5))
print(float("3.5"))
print(float (3))
#print(float (6+2]))
print(float ("5" ))
#print (float ("five")

3.5
3.5
3.0
5.0

In [9]:
print(int (3.5))
#print(int("3,5"))
print(int(3))
#print(int (6+2j))
print(int ("5" ))
#print(int("five"))

3
3
5

In [13]:
import math as m
r = 5
area = m.pi * (r ** 2 )
print("Area of circle", area)

Area of circle 78.53981633974483

In [16]:
x = input("Enter x value :- ")
y = input("Enter y value :- ")
# input function by default take input string so we have to do typecast
print(x + y)
print(int(x) + int(y))

Enter x value :- 5
Enter y value :- 6
56
11

In [15]:
x = int(input("Enter x value :- "))
y = int(input("Enter y value :- "))
# input function by default take input string so we have to do typecast
print(x + y)

Enter x value :- 5
Enter y value :- 6
11

In [17]:
print("Addition is :-", int(input("Enter x value :- ")) + int(input("Enter y value :- ")))

Enter x value :- 5
Enter y value :- 6
Addition is :- 11

In [21]:
a = eval(input("Enter a value :- "))
print(a)

Enter a value :- 7
7

In [26]:
# Escape Sequence operator :- They Don't display
print("Hello \n World")
# But if we want to display then
print("Hello \\n World")
print("Hello \t World")
print("Hello"+"World")
print("Hello"*3)

Hello
 World
Hello \n World
Hello 	 World
HelloWorld
HelloHelloHello

In [29]:
a,b,c = 10, 20, 30
print(a, b, c)
print(a, b, c, sep=":")

10 20 30
10:20:30

In [30]:
print("Hello", end=" ")
print("Chirag", end=" ")
print("How", end=" ")
print("are", end=" ")
print("you", end=" ")

Hello Chirag How are you

In [31]:
a=10
b=20
C=30
print("a value is %i" %a)
print("b value is %d and c value is %d" %(b,c))

a value is 10
b value is 20 and c value is 30

In [33]:
name="Chirag Vijayvergiya"
salary=3000000
company="Google"
print("Hello {0} your salary is {1} and Company {2}". format (name, salary, company))
print("Hello {x} your salary is {y} and Company {z}".format (x=name, y=salary, z=company))

Hello Chirag Vijayvergiya your salary is 3000000 and Company Google
Hello Chirag Vijayvergiya your salary is 3000000 and Company Google

In [35]:
x = 6
print(x % 10)

Enter x value :- 45
5

In [4]:
# swap without using third variable
x = int(input("Enter x value :- "))
y = int(input("Enter y value :- "))
x = x - y
y = x + y
x = y - x
print(x, y)

Enter x value :- 10
Enter y value :- 4
4 10

In [5]:
# Find sum of 2 digit of number
x = int(input("Enter x value :- "))
no1 = x % 10
no2 = x // 10
res = no1 + no2
print("Sum of 2 digit of Number :- ", res)

Enter x value :- 45
Sum of 2 digit of Number :-  9

In [6]:
# Find sum of 3 digit of number
x = int(input("Enter x value :- "))
no1 = x % 10
no2 = (x // 10) % 10
no3 = x // 100
res = no1 + no2 + no3
print("Sum of 3 digit of Number :- ", res)

Enter x value :- 123
Sum of 3 digit of Number :-  6

In [11]:
x = int(input("Enter x value :- "))
sum = 0
while(x > 0) :
    sum = sum + (x % 10)
    x = x // 10
print("Sum of digit of Number :- ", sum)

Enter x value :- 12345
Sum of digit of Number :-  15

In [15]:
# Find sum of 5 digit of number
x = int(input("Enter x value :- "))
no1 = x % 10
no2 = (x // 10) % 10
no3 = (x // 100 ) % 10
no4 = (x // 1000 ) % 10
no5 = (x // 10000 )
res = no1 + no2 + no3 + no4 + no5
print("Sum of 5 digit of Number :- ", res)

Enter x value :- 12345
Sum of 5 digit of Number :-  15

In [17]:
# Find Reverse of 5 digit of number
x = int(input("Enter x value :- "))
no1 = x % 10
x = x // 10
no2 = x % 10
x = x // 10
no3 = x % 10
x = x // 10
no4 = x % 10
x = x // 10
no5 = x % 10
res = no1 * 10000 + no2 * 1000 + no3 * 100 + no4 * 10 + no5
print("Sum of 5 digit of Number :- ", res)

Enter x value :- 12345
Sum of 5 digit of Number :-  54321

In [19]:
# Find the sum of first and last digit of 9 digit number
x = int(input("Enter x value :- "))
no1 = x // 100000000
no2 = x % 10
print(no1 + no2)

Enter x value :- 123456789
10

In [26]:
s = "chirag"
print(s[0])
print(s[-1])
print(s[0:4])
print(s[2:4])
print(s[:4])
print(s[2:])
print(s[::])
print(s[::2])
print(s[1::2])
print(s[::-1])

c
g
chir
ir
chir
irag
chirag
cia
hrg
garihc

In [27]:
# Accept only 5 numbers & find max numbers
a = int(input("Enter a value :- "))
b = int(input("Enter b value :- "))
c = int(input("Enter c value :- "))
d = int(input("Enter d value :- "))
e = int(input("Enter e value :- "))
mx = a
if(mx < b) :
    mx = b
if(mx < c) :
    mx = c
if(mx < d) :
    mx = d
if(mx < e) :
    mx = e
print("Maximum number is :- ", mx)

Enter a value :- 4
Enter b value :- 7
Enter c value :- 2
Enter d value :- 8
Enter e value :- 1
Maximum number is :-  8

In [30]:
a = int(input("Enter paper1 value :- "))
b = int(input("Enter paper2 value :- "))
c = int(input("Enter paper3 value :- "))
g = input("Enter Gender(f/m) :- ")
total = a + b + c
percentage = total / 300 * 100
if (percentage >= 82 and g == "f") :
    print("She can take Admission")
elif (percentage >= 62 and g == "m") :
    print("He can take Admission")
else:
    print("Can not take Admission")

Enter paper1 value :- 56
Enter paper2 value :- 98
Enter paper3 value :- 45
Enter Gender(f/m) :- f
Can not take Admission

In [32]:
year = int(input("Enter year value :- "))
if (year % 100 != 0) :
    print("Non Century Year")
    if(year % 4 == 0) :
        print("Leap Year")
    else :
        print("Not Leap Year")
else :
    print("Century Year")
    if(year % 400 == 0) :
        print("Leap Year")
    else :
        print("Not Leap Year")

Enter year value :- 2024
Non Century Year
Leap Year

In [33]:
cp = int(input("Enter cost price value :- "))
userType = input("Enter User Type (Student / General) :- ")
discount = 0

if(userType == "Student") :
    if(cp > 500) :
        discount = 10
    else :
        discount = 5
else :
    if(cp > 500) :
        discount = 8
    else :
        discount = 3

sp = cp - (cp * discount) / 100
print("cost price is :-", cp)
print("Discount is :- ", discount)
print("Net Price is :- ", sp)

Enter cost price value :- 551
Enter User Type (Student / General) :- Student
cost price is :- 551
Discount is :-  10
Net Price is :-  495.9

In [38]:
# covert the character in ASCII value by ord function
x = input("Enter a character :-")
x = ord(x)
if(x >= 65 and x <= 90) :
    print("Upper Case")
elif(x >= 97 and x <= 122) :
    print("Lower Case")
else :
    print("Special Character")

Enter a character :-Z
Upper Case

In [ ]:
# If we want to execute a block of statement or no of statememnts repeatedly again and again till the condition is satisfied, so will use loop

# For loop is used when range is given
# While loop is used when range is not given

In [40]:
x = int(input("Enter a Number :-"))
res = 0
while(x > 0) :
    rem = x % 10
    res = res * 10 + rem
    x = x // 10
print(res)

Enter a Number :-134
431

In [41]:
x = int(input("Enter a Number :-"))
count = 0
while(x > 0) :
    x = x // 10
    count = count + 1
print(count)

Enter a Number :-12345
5

In [43]:
x = int(input("Enter a Number :-"))
sum = 0
while(x > 0) :
    rem = x % 10
    sum = sum + rem
    x = x // 10
print(sum)

Enter a Number :-1234
10

In [44]:
x = int(input("Enter a Number :-"))
fact = 1
while(x > 0) :
    fact = fact * x
    x = x - 1
print(fact)

Enter a Number :-4
24

In [46]:
x = int(input("Enter a Number :-"))
mul = 1
while(x > 0) :
    rem = x % 10
    mul = mul * rem
    x = x // 10
print(mul)

Enter a Number :-12345
120

In [52]:
x = int(input("Enter a Number :-"))
s = x
y = x
count = 0
while(y > 0):
    y = y // 10
    count = count + 1
print(count)
sum = 0
while(x > 0):
  rem = x % 10
  sum = sum + rem ** count
  x = x // 10
if(sum == s):
  print("Armstrong Number")
else:
  print("Not Armstrong Number")

Enter a Number :-156
3
Not Armstrong Number

In [56]:
x = int(input("Enter a Number :-"))
for i in range(1, x + 1) :
    p = i
    s = i
    y = i
    count = 0
    while(y > 0):
        y = y // 10
        count = count + 1
    # print(count)
    sum = 0
    while(p > 0):
      rem = p % 10
      sum = sum + rem ** count
      p = p // 10
    if(sum == s):
      print("Armstrong Number", i)

Enter a Number :-10000
Armstrong Number 1
Armstrong Number 2
Armstrong Number 3
Armstrong Number 4
Armstrong Number 5
Armstrong Number 6
Armstrong Number 7
Armstrong Number 8
Armstrong Number 9
Armstrong Number 153
Armstrong Number 370
Armstrong Number 371
Armstrong Number 407
Armstrong Number 1634
Armstrong Number 8208
Armstrong Number 9474

In [60]:
x = int(input("Enter a Number :-"))
p = x
sum = 0
while(p > 0) :
  rem = p % 10
  fact = 1
  while(rem > 0) :
    fact = fact * rem
    rem = rem - 1
  sum += fact
  p = p // 10

if(sum == x):
  print("Peterson Number")
else:
  print("Not Peterson Number")

Enter a Number :-145
Peterson Number

In [1]:
x = int(input("Enter a Number :-"))
s = x
y = x
count = 0
while(y > 0):
    y = y // 10
    count = count + 1
# print(count)

if(count % 2 == 0):
        p = 0
        sum = 0
        while( p < count / 2):
          rem = s % 10
          sum = sum * 10 + rem
          s = s // 10
          p = p + 1

        pxs = 0
        # print(s, sum)
        while(sum > 0):
          rem = sum % 10
          pxs = pxs * 10 + rem
          sum = sum // 10

        # print(s, pxs)

        ans = pxs + s
        ans = ans ** 2
        if(x == ans):
          print("Tech Number")
        else:
          print("Not a Tech Number")
else :
  print("Not a Tech Number")

Enter a Number :-2025
20 25
Tech Number