In [ ]:
for i in range (1,11):
  if i==5:
    break
  print (i)

1
2
3
4

In [ ]:
for i in range (1,11):
  if i==5:
    continue
  print (i)

1
2
3
4
6
7
8
9
10

In [ ]:
for i in range (1,6):
  if i==3:
    continue
  print (i, 11 - i)

1 10
2 9
4 7
5 6

In [ ]:
for i in range(1,5):
  for j in range(1,5):
    print(i, end="")
  print(end="\n")

1111
2222
3333
4444

In [ ]:
n = 1
for i in range(1,5):
  for j in range(1,5):
    print(n, end=" ")
    n += 1  # Shorthand operator
  print(end="\n")

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
n = 'A'
for i in range(1,5):
  for j in range(1,5):
    print(n, end=" ")
    n = chr(ord(n) + 1)  # Shorthand operator
  print(end="\n")

A B C D
E F G H
I J K L
M N O P

In [ ]:
n = 65
for i in range(1,5):
  for j in range(1,5):
    print(chr(n), end=" ")
    n = n + 1  # Shorthand operator
  print(end="\n")

A B C D
E F G H
I J K L
M N O P

In [ ]:
for i in range(1,5):
  for j in range(1, i + 1):
    print(i, end="")
  print(end="\n")

1
22
333
4444

In [ ]:
for i in range(1,5):
  for j in range(6, i + 1, -1):
    print("*", end="")
  print(end="\n")

****
***
**
*

In [ ]:
for i in range(1,5):
  for k in range(1, i):
    print(" ", end="")
  for j in range(5, i, - 1):
    print("*", end="")
  print(end="\n")

****
 ***
  **
   *

In [ ]:
for i in range(1,5):
  for k in range(1, 5 - i):
    print(" ", end="")
  for j in range(1, i + 1):
    print("*", end="")
  print(end="\n")

   *
  **
 ***
****

In [ ]:
s="Learning Python is very easy from Ashish Sir"
print(s.find ("Python" )) #9
print(s.find("Java")) # -1
print(s.find("r")) #3
print(s.rfind("r"))#43

9
-1
3
43

In [ ]:
# Find Occurances
s="abcabcabcabcadda"
print(s.count('a'))
print(s.count('ab'))
print(s.count('a', 3,10))

6
4
3

In [ ]:
S="Learning Python is very difficult from Ashish Sir"
s1=S.replace("difficult", "easy")
print(s1)

Learning Python is very easy from Ashish Sir

In [ ]:
# Immutable :-  Can not be change in the same memory

In [ ]:
# split
l = S.split();
print(l)
print(type(l))
for x in l :
  print(x)

['Learning', 'Python', 'is', 'very', 'difficult', 'from', 'Ashish', 'Sir']
<class 'list'>
Learning
Python
is
very
difficult
from
Ashish
Sir

In [ ]:
s = "22-02-2022"
l = s.split('-')
print(l)

['22', '02', '2022']

In [ ]:
#Joining of Strings:
l= [ 'Nagpur','Pune', 'Mumbai', 'Delhi']
s=' '.join(l)
print(s)

Nagpur Pune Mumbai Delhi

In [ ]:
s='learning Python is very Easy from Ashish sir'
print(s.upper ())
print(s. lower())
print(s. swapcase())
print(s.title())
print(s. capitalize())

LEARNING PYTHON IS VERY EASY FROM ASHISH SIR
learning python is very easy from ashish sir
LEARNING pYTHON IS VERY eASY FROM aSHISH SIR
Learning Python Is Very Easy From Ashish Sir
Learning python is very easy from ashish sir

In [ ]:
s='learning Python is very Easy from Ashish sir'
print(s. startswith( 'learning' ))
print(s. endswith( 'learning' ))
print(s.endswith('sir'))

True
False
True

In [ ]:
print ('Ashish786' .isalnum ())
print('ashish786' .isalpha())
print( 'ashish' .isalpha())
print('ashish' .isdigit())
print('786786' .isdigit())
print('abc' .islower()) #True
print( 'Abc'. islower()) #False
print('abc123' .islower()) #True
print( 'ABC' .isupper()) #True
print( 'Learning python is Easy from Ashish Sir'.istitle())
print( 'Learning Python Is Easy From Ashish Sir'.istitle())
print(' '.isspace()) #True

True
False
True
False
True
True
False
True
True
False
True
True

In [ ]:
mob = input("Enter a Mobile Number :- ")
if len(mob) == 10 :
  if(mob.isdigit()) :
    # if mob.startswith('6') or mob.startswith('7') or mob.startswith('8') or mob.startswith('9'):
    if mob.startswith(('6','7','8','9')):
        print("Valid Mobile Number")
    else:
      print("Mobile Number is not starting with correct code")
  else:
    print("Mobile Number is not digit")
else:
  print("Mobile length is not 10")

Enter a Mobile Number :- 5354353532
Mobile Number is not starting with correct code

In [ ]:
#Reverse String
# 1st Way:
s=input("Enter String: ")
print(s[::-1])
# 2nd Way:
s=input("Enter String: ")
print('' .join (reversed (s)))

Enter String: dkjdlsfs
sfsldjkd
Enter String: hdskfjksjak
kajskjfksdh

In [ ]:
#Reverse String without using any function
s=input("Enter String: ")
p = ''
for i in s:
  p = i + p
print(p)

Enter String: dhsfkjsdf
fdsjkfshd

In [ ]:
# input : Learning Python is very Easy from Ashish Sir
# output: Sir Ashish from Easy Very is Python Learning
s= "Learning Python is very Easy from Ashish Sir"
l = s.split()
print(l)
x = ''
for i in l:
  x = i + ' ' + x
print(x)

['Learning', 'Python', 'is', 'very', 'Easy', 'from', 'Ashish', 'Sir']
Sir Ashish from Easy very is Python Learning

In [ ]:
# input : Learning Python is very Easy from Ashish Sir
# output: gninrael nohtyP si yrev ysaE morf hsihsA riS
s= "Learning Python is very Easy from Ashish Sir"
l = s.split()
print(l)
x = ''
for i in l:
  x = x + ' ' + i[::-1]
print(x)

['Learning', 'Python', 'is', 'very', 'Easy', 'from', 'Ashish', 'Sir']
 gninraeL nohtyP si yrev ysaE morf hsihsA riS

In [ ]:
# input: ABCDABBCDABBBCCCDDEEEF
# output: ABCDEF
# unique string
s= "ABDACDABBCDABBBCCCDDEEEF"
x = ''
for i in s:
  if i not in x:
    x = x + i
print(x)

ABDCEF

In [ ]:
# Creation of List Objects:
# 1. We can create empty list object as follows...
list=[]
print (list)
print(type(list))
# 2. If we know elements already then we can create list as follows list=[10,20,30,40]
print(list)

# # 3. With dynamic input:
# list=eval(input("Enter List:"))
# print (list)
# print(type(list))

# 4. With list() function:
# # not working in colab
# l=list(range(0,11,2))
# print (l)
# print (type (l))

[]
<class 'list'>
[]

In [ ]:
list=[]
list. append ("A")
list. append (2)
list. append ("C")
list.insert(1,"B")
list[1] = 343
print(list)

list=[]
for i in range (101):
  if i%10==0:
    list.append(i)
print(list)

['A', 343, 2, 'C']
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
order1=["Apple", "Banana", "Mango"]
order2=[ "PEPSI", "COKE" , "DEW" ]
order1. extend (order2)
print (order1)

['Apple', 'Banana', 'Mango', 'PEPSI', 'COKE', 'DEW']

In [ ]:
n=[10,20,10,30]
n.remove (10)
print(n)
n. remove ( 30)
n.pop()
print(n)

[20, 10, 30]
[20]

In [ ]:
n=[10,20, 30,40]
n. reverse()
print(n)

[40, 30, 20, 10]

In [ ]:
n1=[10,20,10,30]
n2=[2,42,4,24, 2]
res=n1+n2
print(res)
res = n1 * 3
print(res)

[10, 20, 10, 30, 2, 42, 4, 24, 2]
[10, 20, 10, 30, 10, 20, 10, 30, 10, 20, 10, 30]

In [ ]:
# Nested List
n=[10,20, 30, [23, 56, 23]]
print(n[0])
print(n[2])
print(n[3])
print(n[3][0])

10
30
[23, 56, 23]
23

In [ ]:
n=[[10,20, 30], [40, 50, 60], [70, 80, 90]]
print(n)
for x in n:
  print (x)
for i in range(len(n)):
  for j in range(len(n[i])):
    print(n[i][j],end="")
  print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
102030
405060
708090

In [17]:
sem = int(input("Enter the No. of Semester :- "))
sub = []
for i in range(sem):
  print("Enter the no of subject in ", i + 1, "Semester :- ")
  sb = int(input())
  sub.append(sb)

sma = []
maxMarks = []
for i in range(sem):
  for j in range(sub[i]):
    print("Enter the ", i + 1, " semester ", j + 1,  " subject Marks :- ")
    sm = int(input())
    sma.append(sm)
print(sub)
print(sma)

count = 0
p = 0
for i in range(len(sub)):
  x = sub[i]
  count += x
  maxi = 0
  for j in range(p, count):
    if j < len(sma) and sma[j] > maxi:
      maxi = sma[j]
  p = count
  maxMarks.append(maxi)


for i in range(len(maxMarks)) : 
    print("Maximum marks in ", i + 1, " semester :- ", maxMarks[i])

Enter the no of subject in  1 Semester :-
Enter the no of subject in  2 Semester :-
Enter the no of subject in  3 Semester :-
Enter the  1  semester  1  subject Marks :-
Enter the  1  semester  2  subject Marks :-
Enter the  1  semester  3  subject Marks :-
Enter the  2  semester  1  subject Marks :-
Enter the  2  semester  2  subject Marks :-
Enter the  2  semester  3  subject Marks :-
Enter the  2  semester  4  subject Marks :-
Enter the  3  semester  1  subject Marks :-
Enter the  3  semester  2  subject Marks :-
[3, 4, 2]
[50, 60, 70, 90, 98, 76, 67, 89, 76]
Maximum marks in  1  semester :-  70
Maximum marks in  2  semester :-  98
Maximum marks in  3  semester :-  89

In [2]:
list = [12, 2, 233,45,45,678,9,56,0]
print(list)
s = set(list)
print(s)

[12, 2, 233, 45, 45, 678, 9, 56, 0]
{0, 2, 678, 233, 9, 12, 45, 56}

In [5]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d[100])
print(d[ 300])

ashish
sandip

In [6]:
d={100: 'ashish', 200: 'Prashant', 300: 'sandip'}
d[101]="Ashish"
d [102]="Raj"
d [200]="Sonu"
print (d)
print(d[200])

{100: 'ashish', 200: 'Sonu', 300: 'sandip', 101: 'Ashish', 102: 'Raj'}
Sonu

In [11]:
rec={}
n=int(input("Enter number of students: "))
for i in range(0,n):
    name=input("Enter student name: ")
    marks=input("Enter % marks of student: ")
    rec [name]=marks 

print ("Name\tMarks") 
print(" --------------------- ")
for i in rec:
    print (i,"\t", rec[i])

Name	Marks
 ---------------------
chirag 	 90
kapil 	 90
shubham 	 90

In [12]:
d={100: 'ashish' ,200: 'Prashant', 300: 'sandip'}
print(d[100])
#print(d[400])
print(d. get (100))
print(d. get (400))
print(d. get (100, "Guest" ))
print(d. get (400, "Guest"))

ashish
ashish
None
ashish
Guest

In [15]:
d={100: 'ashish' ,200: 'Prashant', 300: ' sandip'}
print(d. keys ())
for k in d. keys():
  print(k)

dict_keys([100, 200, 300])
100
200
300

In [16]:
d={100: 'ashish' ,200: 'Prashant',300: 'sandip'}
print(d. values ( ));
for v in d.values ():
    print (v)

dict_values(['ashish', 'Prashant', 'sandip'])
ashish
Prashant
sandip

In [18]:
d={100: 'ashish' ,200: 'Prashant',300: 'sandip'}
for k,v in d.items():
    print(k,"-->",v)

100 --> ashish
200 --> Prashant
300 --> sandip

In [19]:
rec={}
n=int(input("Enter numbers :- "))
for i in range(0,n):
    key=input("Enter key: ")
    values=input("Enter value: ")
    rec [key]=values

sum = 0
for k,v in rec.items():
    print(k,"-->",v)
    sum += int(v)
print("Total Sum :- ", sum)

1 --> 23
2 --> 34
3 --> 45
4 --> 56
Total Sum :-  158

In [30]:
list = [1, 3, 2, 4]
ans = []
for i in range(len(list)):
    for j in range(i + 1, len(list)):
        if list[j] > list[i]:
            ans.append(list[j])
            break
ans.append(-1)
print(ans)

[3, 4, 4, -1]

In [46]:
input = "aabbbbeeeeffggg"
output = ""
count = 1
i = 0
while i < len(input):
    x = input[i]
    for j in range(i + 1, len(input)):
        if x == input[j]:
            count += 1
        else:
            break
    output += x + str(count)
    i += count
    count = 1
print(output)

a2b4e4f2g3

In [54]:
str1 = "silent"
str2 = "Listen"
l1 = str1.lower()
l2 = str2.lower()

if (len(l1) == len(l2)) and (sorted(l1) == sorted(l2)):
    print("Anagram")
else:
    print("Not Anagram")

Anagram